<section class="tabs" id="categories">
  <tabs-component class="tabs-conponent">
    <div class="container">
      <h2 class="tabs-title">Categories</h2>
      <ul class="tabs-wrapper">
        <li class="tabs-element" data-type="classic">
          <button class="tabs-button active" type="button">Classic</button>
        </li>
        <li class="tabs-element" data-type="smart">
          <button class="tabs-button" type="button">Smart</button>
        </li>
        <li class="tabs-element" data-type="apple">
          <button class="tabs-button" type="button">Apple</button>
        </li>
      </ul>
      <div class="tabs-content">
        <img
          src="/img/img-desktop/rolex.webp"
          alt="Watches"
          width="1150"
          height="500"
          id="classic"
          class="active"
        />
        <img
          src="/img/img-desktop/apple.png"
          alt="Watches"
          width="1150"
          height="500"
          id="apple"
        />
        <img
          src="/img/img-desktop/smart.png"
          alt="Watches"
          width="1150"
          height="500"
          id="smart"
        />
      </div>
    </div>
  </tabs-component>
</section>
